<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言</title>
</head>
<body>
    <p style = 'color:chartreuse'>{{message}}</p>
    <form method = 'POST'>
        <table>
            <caption>嘤嘤嘤</caption>
            <tr>
                <th>用户名</th>
                <th>内容</th>
            </tr>
            <tr>
                <td><input name = 'name' placeholder='name' type = 'text' ></td>
		
		<p><td width = "200"><input name = 'text' placeholder='Hello world!'></td></p>
            </tr> 
        </table>
        <p><button type = 'submit'>提交</button></p>
    </form>
</body>
</html>
